# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Dataset and Large Files
# Excluding the dataset it should be downloaded (see README)
dataset/
weights/final/
